<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="EmptyBlock">     <!--Verifica bloques de codigo vacio-->
            <property name="option" value="TEXT"/>     <!--Indica que un bloque se considera vacio si sol tiene comentarios o espacio en blanco-->
            <property name="severity" value="warning"/>     <!--Indica que si detecta un bloque vacio debe generar una advertencia-->
        </module>
        <!--Aca se agregan mas modulos que verifiquen otras cosas. Para saber que modulos hay disponible ir a "checkstyle.sourceforge.io"-->
    </module>
</module>